**/node_modules/
**/.env
**/.env.*
!.env.example

**/logs
**/*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

frontend/dist/
frontend/build/
Backend/dist/
Backend/build/

Backend/uploads/*
!Backend/uploads/.gitkeep

.vscode/
.idea/
.cache/
.temp/
.tmp/

.DS_Store
Thumbs.db

coverage/

*.pid
*.seed